[submodule "RLJO/KRS"]
	path = RLJO/KRS
	url = git@github.com:RLJO/KRS.git
	branch = master

[submodule "RLJO/odoo_theme"]
	path = RLJO/odoo_theme
	url = git@github.com:RLJO/odoo_theme.git
	branch = 13.0

[submodule "RL-OtherApps/whatsapp_odoo_pro"]
	path = RL-OtherApps/whatsapp_odoo_pro
	url = git@github.com:RL-OtherApps/whatsapp_odoo_pro.git
	branch = 13.0

[submodule "RLJO/smartarget_odoo"]
	path = RLJO/smartarget_odoo
	url = git@github.com:RLJO/smartarget_odoo.git
	branch = 13.0

[submodule "RLJO/careone"]
	path = RLJO/careone
	url = git@github.com:RLJO/careone.git
	branch = master

[submodule "RLJO/odoo_13"]
	path = RLJO/odoo_13
	url = git@github.com:RLJO/odoo_13.git
	branch = master

[submodule "RLJO/ukka_app"]
	path = RLJO/ukka_app
	url = git@github.com:RLJO/ukka_app.git
	branch = 13-Production

[submodule "RLJO/tis_ecommerce_whatsapp_checkout"]
	path = RLJO/tis_ecommerce_whatsapp_checkout
	url = git@github.com:RLJO/tis_ecommerce_whatsapp_checkout.git
	branch = master

[submodule "RL-OtherApps/odoo-addons-2"]
	path = RL-OtherApps/odoo-addons-2
	url = git@github.com:RL-OtherApps/odoo-addons-2.git
	branch = 13.0-dev

[submodule "falinwasales/arista_project"]
	path = falinwasales/arista_project
	url = git@github.com:falinwasales/arista_project.git
	branch = production

[submodule "RLJO/Alnadaco"]
	path = RLJO/Alnadaco
	url = git@github.com:RLJO/Alnadaco.git
	branch = App

[submodule "jakkritz/itprojectllc-odoo"]
	path = jakkritz/itprojectllc-odoo
	url = git@github.com:jakkritz/itprojectllc-odoo.git
	branch = master

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0

[submodule "RLJO/RagsonsKenyaLtd"]
	path = RLJO/RagsonsKenyaLtd
	url = git@github.com:RLJO/RagsonsKenyaLtd.git
	branch = main
