[submodule "RLJO/KRS"]
	path = RLJO/KRS
	url = git@github.com:RLJO/KRS.git
	branch = master

[submodule "RLJO/odoo_theme"]
	path = RLJO/odoo_theme
	url = git@github.com:RLJO/odoo_theme.git
	branch = 13.0

[submodule "RL-OtherApps/whatsapp_odoo_pro"]
	path = RL-OtherApps/whatsapp_odoo_pro
	url = git@github.com:RL-OtherApps/whatsapp_odoo_pro.git
	branch = 13.0

[submodule "RLJO/smartarget_odoo"]
	path = RLJO/smartarget_odoo
	url = git@github.com:RLJO/smartarget_odoo.git
	branch = 13.0

[submodule "RLJO/careone"]
	path = RLJO/careone
	url = git@github.com:RLJO/careone.git
	branch = master

[submodule "RLJO/odoo_13"]
	path = RLJO/odoo_13
	url = git@github.com:RLJO/odoo_13.git
	branch = master

[submodule "RLJO/ukka_app"]
	path = RLJO/ukka_app
	url = git@github.com:RLJO/ukka_app.git
	branch = 13-Production

[submodule "RLJO/tis_ecommerce_whatsapp_checkout"]
	path = RLJO/tis_ecommerce_whatsapp_checkout
	url = git@github.com:RLJO/tis_ecommerce_whatsapp_checkout.git
	branch = master

[submodule "RL-OtherApps/odoo-addons-2"]
	path = RL-OtherApps/odoo-addons-2
	url = git@github.com:RL-OtherApps/odoo-addons-2.git
	branch = 13.0-dev

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 13.0

[submodule "OCA/helpdesk"]
	path = OCA/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 13.0
